[Desktop Entry]
Name=新育智慧校园远程协助
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
